@model MilitaryModel

    <script type="text/javascript">
        const uri = 'api/Units';
        //let units = [];

        function deleteItem(id) {
            fetch(`${uri}/${id}`, {
                method: 'DELETE'
            })
                .then(() => getItems())
                .catch(error => console.error('Unable to delete item.', error));

            //window.location.href = 'Url.Action("TestMap", "Military")'; // add 'at' before Url
            //window.location.reload();
        }
    </script>

<style>
    body {
        background-image: url('@Url.Content("~/img/map_borders.jpg")');
        background-repeat: no-repeat;
    }
</style>

@foreach (var m in Model.Armies)
{
    <img src="~/img/army.png" style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y - 15) + "px");" />
    @if (m.Units?.Count > 0)
    {
        @for (int i = 0; i < m.Units.Count; i++)
        {
            //<form asp-controller="Military" asp-action="TestMap">
                <input href="#" type="image" onclick="deleteItem('@String.Format("{0}", m.Units[i].Name)')" src="~/img/unit.png" style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y + 17 + i * 22) + "px");" />
            //</form>
            //<img src="~/img/unit.png" style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y + 17 + i * 22) + "px");" />
            <label style="position:absolute;left:@((m.X - 15 + 25) + "px");top:@((m.Y + 17 + i * 22) + "px");">@m.Units[i].SoldierNumber</label>
            }
            }
            <form asp-controller="Military" asp-action="Recrute">
                <input type="hidden" name="militaryName" value="@m.Name" />
                <button style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y + 17 + m.Units?.Count * 22) + "px");">+</button>
                @*<img src="~/img/add_unit.png" style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y + 17 + m.Units?.Count * 22) + "px");" />*@
            </form>
            }

            @foreach (var m in Model.Fortresses)
            {
                <img src="~/img/fortress.png" style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y - 15) + "px");" />
                @if (m.Units?.Count > 0)
                {
                    @for (int i = 0; i < m.Units.Count; i++)
                    {
                        <img src="~/img/unit.png" style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y + 17 + i * 22) + "px");" />
                        <label style="position:absolute;left:@((m.X - 15 + 25) + "px");top:@((m.Y + 17 + i * 22) + "px");">@m.Units[i].SoldierNumber</label>
                    }
                }
                <form asp-controller="Military" asp-action="Recrute">
                    <input type="hidden" name="militaryName" value="@m.Name" />
                    <button style="position:absolute;left:@((m.X - 15) + "px");top:@((m.Y + 17 + m.Units?.Count * 22) + "px");">+</button>
                </form>
            }
